img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.animals {
    display: flex;
    /* height: 97vh; */
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.cat{
    border: 5px solid green;
}

.camel{
    border: 5px solid yellow;
}

.horse {
    border: 5px solid red;
}